doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title K
        link(rel="stylesheet", href="/css/style.css")
    body 
        script(src="/js/app.js")

        .body   
            h1 kanji here 
            form(action="get")
                input(type="text" placeholder="Pronunciation" name="Pronun")
                input(type="text" placeholder="English" name="english")
                input(type="button", value="Enter")  