extends base.pug

block content 
        header 
            h1 Learn Basic japanese 
        main 
            p this project created to teach you basic japanese with a simple guessing game
            button Start 
           


        script(src="/js/home.js")


