
main{

    display: flex;
    width: 100%;
    height: 180px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
/* Content */


#kanji{

    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0px 0px 0px;
    padding: 5px
}

.kanji{
    
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 72px;

}

#input{

    padding: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: space-around;
}

.input__bar {
    
    height: 40px;
    margin: 10px;
    border-radius: 30px;
    text-align: center;
}

.submit{

    margin: 10px;
    display: flex;
    justify-content: center;
}

#submitbtn{

    border-style: solid;
    height: 40px;
    width: 60px;
}

#submitbtn:active {

    
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

/* MODAL */

.modal {

    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}
  
.modal__content {

    display: flex;
    flex-direction: column;
    background-color: rgb(23, 24, 25);
    color: white;
    margin: 3% 20%;
    border: 1px solid #888;
    width: 60%;
    height: 500px;
}
.result{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
    height: 70%;
}

.value__result{
    
    height: 35%;
    width: 40%;
    display: flex;
    flex-direction: column;

}

.result{

    font-family: 'Roboto', sans-serif;
    font-size: 27px;
}

.next{

    display: flex;
    justify-content: center;
}

.next__button{

    height: 35px;
    width: 60px;
}

.next__button:active {

    
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

.close__content{
    flex-direction: row;
    margin: 0%;
    padding: 0%;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    float: right;
    margin: 0%;
    padding: 0%;
}
  
.close__content:hover,
.close__content:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  