* {
    margin: 0;
    padding: 0;
}

body{

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{

    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 180px 0px 0px 0px;
    padding: 5px;

}


main {

    display: flex;
    width: 100%;

    height: 180px;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}

form {

    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input {

    width: 400px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}

div:nth-child(3) {

    width: inherit;
    align-self: center;
}


